body {
	background-image: url("../Images/fond.jpg");
	text-align:center;
	color:blue;
	margin: auto;
	width: 900px;
	background-attachment: fixed;
	background-size: cover;
}

nav {
	width:100%;
	margin-left: auto;
	margin-right: auto;
	height:50px;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content: center;
	background: white;
	justify-content:space-evenly;
}

nav > div {
	display:flex;
	align-items:center;
	position:relative;
	text-align:center;
	font-size:25px;
}

#logo{
	height:100px;
}

#reseaux {
	position:fixed;
	bottom:0px;
	right: 0px;
}

main{
	background: white;
}
#logo{
	height:100px;
}

#petit{
	height:20px;
}

main section{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main section > span{
	display: flex;
}

main section > span:last-child img{
	background-color: #c0f5fc;
	padding: 10px;
	border:solid black;
	border-radius: 100%;
	max-width: 25px;
	transition: all;
}

main section > span:last-child img:hover{
	cursor: pointer;
	background-color: #99ffff;
	transition: all;
}

main section > span:last-child > *{
	margin: auto;
}

main{
	padding: 15px;
}

h4{
	text-align: left;
	align-items: center;
	font-weight: bold;
	text-decoration: underline;
}

main img{
	max-height: 100px;
}

h5 {
	text-align: center;
}

#bpotion{
	height:125px;
}

#blongue{
	height:125px	
}
#bdollars{
	height:125px	
}

#beuro{
	height:125px	
}

#byen{
	height:125px	
}

article section div{
	width: 125px;
	height: auto;
	max-width: 100%;
	text-align: center;
}