body {
	background-image: url("../Images/fond.jpg");
	text-align:center;
	color:blue;
	margin: auto;
	width: 1000px;
	background-attachment: fixed;
	background-size: cover;
}

nav {
	width:100%;
	margin-left: auto;
	margin-right: auto;
	height:50px;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content: center;
	background: white;
	justify-content:space-evenly;
}

nav > div {
	display:flex;
	align-items:center;
	position:relative;
	text-align:center;
	font-size:25px;
}

#logo{
	height:100px;
}

#reseaux {
	position:fixed;
	bottom:0px;
	right: 0px;
}

main{
	background: white;
}

fieldset {
	display: none;
}

#a:checked ~ fieldset {
	display: block;
	margin-bottom: 20px;
}

#logo{
	height:100px;
}

main div label{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

div{
	display: block;
	margin: 15px;
}

input {
	display: none;
}

#b:checked ~ fieldset {
	display: block;
	margin-bottom: 20px;
}

#c:checked ~ fieldset {
	display: block;
	margin-bottom: 20px;
}

#d:checked ~ fieldset {
	display: block;
	margin-bottom: 20px;
}